@import url("https://fonts.cdnfonts.com/css/avigea");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #093147;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.navbar .img-nav {
  width: 100px;
  height: 85px;
}
@media screen and (max-width: 767px) {
  .navbar button {
    color: white;
  }
}
.navbar .nav-item {
  font-size: 20px;
}
.navbar .nav-item .nav-link {
  color: white;
}
.navbar .nav-item .nav-link:hover {
  color: #b7c6d8;
}

footer {
  background-color: #093147;
}
footer .section-footer {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px 10px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  footer .section-footer .redes h3 {
    display: none;
  }
}
footer .section-footer .redes #ig-footer {
  width: 30px;
  height: 30px;
  margin: 15px;
}
footer .section-footer .redes #tiktok-footer {
  width: 30px;
  height: 30px;
  margin: 15px;
}
footer .section-footer .logo-nav {
  width: 100px;
  height: 85px;
}
@media screen and (max-width: 767px) {
  footer .section-footer .logo-nav {
    display: none;
  }
}
footer .section-footer .contacto {
  text-align: center;
  line-height: 5%;
}
footer .section-footer .contacto p {
  font-size: 10px;
}
footer .section-footer .contacto h3 {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  footer .section-footer .contacto h3 {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #093147;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.navbar .img-nav {
  width: 100px;
  height: 85px;
}
@media screen and (max-width: 767px) {
  .navbar button {
    color: white;
  }
}
.navbar .nav-item {
  font-size: 20px;
}
.navbar .nav-item .nav-link {
  color: white;
}
.navbar .nav-item .nav-link:hover {
  color: #b7c6d8;
}

.carrusel #carouselExampleFade {
  width: 25%;
  height: 25%;
  margin: auto;
  margin-top: 120px;
}
@media screen and (max-width: 767px) {
  .carrusel #carouselExampleFade {
    width: 50%;
    height: 50%;
  }
}

.grid-container-carta {
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.grid-container-carta a {
  text-decoration: none;
}
.grid-container-carta a:hover {
  transform: scale(1.2);
}
.grid-container-carta h2 {
  border: solid 2px #093147;
  font-family: "Avigea", sans-serif;
  text-align: center;
  background-color: #093147;
  color: white;
}
.grid-container-carta h2:hover {
  background-color: #b7c6d8;
  color: #093147;
}
@media screen and (max-width: 767px) {
  .grid-container-carta h2 {
    font-size: 22px;
    padding: 5px;
  }
}
.grid-container-carta .hamburguesa {
  grid-column: 1/3;
}
.grid-container-carta .papas {
  grid-column: 1/3;
}
.grid-container-carta .bebida {
  grid-column: 2/4;
}
.grid-container-carta .tragosC {
  grid-column: 2/4;
}
@media screen and (max-width: 767px) {
  .grid-container-carta {
    margin: 10px;
    padding: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .grid-container-carta .hamburguesa {
    grid-column: 1/2;
  }
  .grid-container-carta .papas {
    grid-column: 1/2;
  }
  .grid-container-carta .bebida {
    grid-column: 2/3;
  }
  .grid-container-carta .tragosC {
    grid-column: 2/3;
  }
}

.carta-descripcion {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  gap: 5px;
  border: 2px solid #093147;
}
.carta-descripcion .gastronomia {
  width: 50%;
}
.carta-descripcion .gastronomia h3 {
  text-align: center;
}
.carta-descripcion .gastronomia li {
  font-weight: bold;
}
.carta-descripcion .gastronomia li p {
  font-style: italic;
}
@media screen and (max-width: 767px) {
  .carta-descripcion .gastronomia {
    width: 100%;
  }
}
.carta-descripcion .bebidas {
  width: 50%;
}
.carta-descripcion .bebidas h3 {
  text-align: center;
}
.carta-descripcion .bebidas li {
  font-weight: bold;
}
.carta-descripcion .bebidas li p {
  font-style: italic;
}
@media screen and (max-width: 767px) {
  .carta-descripcion .bebidas {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .carta-descripcion {
    flex-direction: column;
  }
}

#titulo-reservas {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  font-family: "Avigea", sans-serif;
}

.container-form {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 50%;
  margin-left: 10%;
  margin-bottom: 5%;
}
.container-form #form-reserva {
  border: solid #093147;
  border-radius: 10px 0 0 10px;
  padding: 5px;
}
.container-form #imagen-reserva {
  width: 500px;
  height: 600px;
  border-radius: 0 10px 10px 0;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .container-form #imagen-reserva {
    display: none;
  }
}

#contacto-titulo {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  font-family: "Avigea", sans-serif;
}

.seccion-info-contacto {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .seccion-info-contacto {
    flex-direction: column;
  }
  .seccion-info-contacto h2 {
    text-align: center;
  }
  .seccion-info-contacto iframe {
    width: 350px;
    height: 200px;
    justify-content: center;
    margin-left: 5%;
  }
}

.seccion-contacto {
  display: flex;
  justify-content: space-around;
}
.seccion-contacto #logo-whatsapp-contacto {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 767px) {
  .seccion-contacto .div-contacto-direccion {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .form-contacto {
    width: 80%;
    justify-content: center;
    margin-left: 5%;
  }
  .form-contacto h2 {
    text-align: center;
  }
  .form-contacto button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .whatsapp-contacto {
    display: flex;
    gap: 15px;
    margin: 50px;
  }
}

#galeria-titulo {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  font-family: "Avigea", sans-serif;
}

#video {
  display: flex;
  justify-content: center;
}
#video #video-galeria {
  width: 700px;
  height: 400px;
}
@media screen and (max-width: 767px) {
  #video #video-galeria {
    width: 400px;
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .h2-galeria {
    text-align: center;
  }
}

.galeria-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 20px;
  grid-auto-rows: 500px;
}
.galeria-container .galeria-patio:nth-child(1) {
  grid-column: 1/3;
}
.galeria-container .galeria-patio:nth-child(4) {
  grid-column: 2/4;
}
.galeria-container .galeria-patio:nth-child(5) {
  grid-column: 1/4;
}
.galeria-container .patio-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .galeria-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin: 10px;
    grid-auto-rows: 300px;
  }
  .galeria-container .galeria-patio:nth-child(1) {
    grid-column: 1/2;
  }
  .galeria-container .galeria-patio:nth-child(4) {
    grid-column: 2/3;
  }
  .galeria-container .galeria-patio:nth-child(5) {
    grid-column: 1/3;
  }
}

.galeria-container-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 20px;
  grid-auto-rows: 500px;
}
.galeria-container-bar .galeria-bar:nth-child(3) {
  grid-column: 1/3;
}
.galeria-container-bar .bar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .galeria-container-bar {
    grid-gap: 5px;
    margin: 10px;
    grid-auto-rows: 300px;
  }
}

.div-bienvenida {
  margin-top: 55px;
  margin-bottom: 0;
}
.div-bienvenida #bienvenida {
  text-align: center;
  position: relative;
  top: 200px;
  color: white;
  font-family: "Avigea", sans-serif;
  font-size: 45px;
}
@media screen and (max-width: 767px) {
  .div-bienvenida #bienvenida {
    font-size: 22px;
    top: 80px;
  }
}
.div-bienvenida #imagenInicio {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .div-bienvenida #imagenInicio {
    height: 500%;
  }
}/*# sourceMappingURL=style.css.map */