
@import url('https://fonts.cdnfonts.com/css/avigea');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap'); 

/* font-family: 'Avigea', sans-serif;
font-family: 'Cormorant Garamond', serif; */

*{
    margin: 0;
    padding: 0;

}


/* styles NAV*/

.nav-container {
    background-color: #154360;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    
}

.lista-container {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center; 
    padding: 10px;
    
}

.enlace-nav {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

.enlace-nav:hover{
    color: aqua;
}

.logo-nav{
    width: 100px;
    height: 85px;
}

/*style para mobile*/

@media only screen and (min-width:375px ) and (max-width:760px ){
    .lista-container{
        display: inline; 
        padding: 5px;
        width: 100%;
    }
    
    .logo-nav, .contacto{
        display: none !important;
    }

    #bienvenida{
        font-size: 10px;
    }
    
}

/* Style footer */

footer{
    background-color: #154360 ;
}

.section-footer{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 20px;
    padding: 10px 10px;
    font-size: 20px;
}

.redes a{
    color: aqua;   
}

#ig-footer{
    width: 30px ;
    height: 30px ;
    margin: 15px ;
}

#tiktok-footer{
    width: 30px ;
    height: 30px ;
    margin: 15px ; 
}

.logo-sillon-footer{
    color: white;
    width: 150px;
    height: 150px;
}

.contacto{
    text-align: center;
    line-height: 5%;
}

.contacto h3{
    font-size: 20px;
}

.contacto p{
    font-size: 10px;
}
/* Style pagina inicio */

#bienvenida{
    text-align: center;
    position: relative;
    top: 200px;
    color: white;
    font-family: 'Avigea', sans-serif;
    font-size: 45px;
}

.div-bienvenida{
    margin-top: 55px;
    margin-bottom: 0;
}

#imagenInicio{
    width: 100%;
    height: 100%;
}


/*Style página Carta*/


#carouselExampleFade{
    width: 25%;
    height: 25%; 
    margin: auto; 
    margin-top: 120px;
    
}

.grid-container-carta{
    margin:20px ;
    padding: 20px;
    display: grid;
    grid-template-rows:repeat(4, 1fr);
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
}

.grid-container-carta h2{
    border: solid 2px black;
    font-family: 'Avigea', sans-serif;
    text-align: center;
}

.hamburguesa, .papas{
    grid-column: 1 / 3;
    background-color: #f77594;
}

.bebida, .tragosC{
    grid-column: 2 / 4;
    background-color: #7FE2D8
}

.pizza, .lomos, .gastronomia{
    background-color: #f77594;
}

.cerveza, .tragosA, .bebidas{
    background-color: #7FE2D8
}
.carta-descripcion{
    display: flex;
    justify-content: space-around;  
    
}

.gastronomia, .bebidas{
    width: 50%;
}

.carta-descripcion div p{
    font-style: italic;
}

.carta-descripcion div h3{
    text-align: center;
}
.carta-descripcion div li{
    font-weight: bold;
}


/*Style pagina reservas*/

#titulo-reservas{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    font-family: 'Avigea', sans-serif;
}

#imagen-reserva{
    width: 500px;
    height: 600px;
    border-radius: 0 10px 10px 0;
    margin-top: 15px;
}

.container-form{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 50%;
    margin-left: 10%;
   
}

#form-reserva{
    border: solid #154360;
    border-radius: 10px 0 0 10px;
    padding: 5px;

}





/* Style página contacto*/

#contacto-titulo{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    font-family: 'Avigea', sans-serif;
}

.seccion-info-contacto{
    display: flex;
    justify-content: space-around;
}


.seccion-contacto{
    display: flex;
    justify-content: space-around;
}

#logo-whatsapp-contacto{
    width: 50px;
    height: 50px;
}


/*Style página galeria*/

#galeria-titulo{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    font-family: 'Avigea', sans-serif;
}

#video{
    display: flex;
    justify-content: center;
        
}

#video-galeria{
    width: 700px;
    height: 400px;
}

.galeria-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px;
    grid-auto-rows: 500px;
    
}
.patio-img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
    
    
}

.galeria-patio:nth-child(1){
    grid-column: 1 / 3;
}

.galeria-patio:nth-child(4){
    grid-column: 2 / 4;
}

.galeria-patio:nth-child(5){
    grid-column: 1 / 4;
}

.galeria-container-bar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20px;
    grid-auto-rows: 500px;
    
}

.galeria-bar:nth-child(3){
    grid-column: 1 / 3;
}





.bar-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


#bar3{
    grid-column-start: 1;
    grid-column-end: 3;
}