footer{
    background-color:#093147  ;
    .section-footer{
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 10px 10px;
        font-size: 20px;

        .redes{

            h3{
                @include mobile{
                    display: none;
                }
            }
            
            #ig-footer{
                width: 30px ;
                height: 30px ;
                margin: 15px ;
            }
            #tiktok-footer{
                width: 30px ;
                height: 30px ;
                margin: 15px ;
            }

            
        }
        .logo-nav{
            width: 100px;
            height: 85px; 
            
            @include mobile{
                display: none;
            }
        }
        .contacto{
            text-align: center;
            line-height: 5%;
            p{
                font-size: 10px; 
            }
            h3{
                font-size: 20px;
                @include mobile{
                    display: none;
                }
            }
        }


    }
        
}