*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #093147;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
     .img-nav{
        width: 100px;
        height: 85px;
        animation: rotar 2s linear 1;
     }

     @keyframes rotar {
      from{
         transform: rotateY(180deg);
      }
      to{
         transform: rotateY(360deg);
      }
     }

     button{
      @include mobile{
         color: white;
     }
      
     }

     .nav-item{
        font-size: 20px;
        .nav-link{
         color: white;
         &:hover{
            color: #b7c6d8;
         }
        }
        
        
        
     }
   
    }




